{% extends "navbar.html" %}

<!-- Jinja2 template engine above and below. Extends = builds on or expands on the referenced file. In this 
case, "navbar.html" is the "base", and "content" expands on it. The block content and endblock will
be inserted in the corresponding reference on the "navbar.html" page. You'll see the block content 
and endblock in the <body> section of the "navbar.html" page.-->

{% block content %}
    <div class="container"> 
      <ul class="list-inline">
        <li class="list-inline-item"><h3>Pick a genre</h3></li>
        <li class="list-inline-item"><i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="A list of genres is dynamically populated from the <code>/ords/mymovies/movie-genre</code> ORDS endpoint."></i></li>
      </ul>    
      <form action="{{ url_for('handle_data') }}" method="POST">
        <div class="row row-cols-4 ">

<!-- genrelist and genres are passed as variables by the @app.route('/') and def index(): function. This is what 
loads when you visit the landing page. This is your first ORDS API. This is the /mymovies/movie-genre endpoint if 
you are reviewing in the Database Actions REST Workshop. -->

            {% for genre in genrelist %}
          <div class="form-check">
            <input class="form-check-input" type="radio" value="{{ genre }}" id="{{ genre }}" name="genre" required>
            <label class="form-check-label" for="{{ genre }}">{{ genre }}</label>
          </div>
            {% endfor %}
        </div>
        <h3>Pick a minimum runtime</h3>
        <div class="row row-cols">
            <ul class="list-inline">
              <li class="list-inline-item">

<!-- You can see how this oninput listener works in conjunction with the sliderChange(val) JavaScript function. 
The sliderChange(); function can be found at the end of this page. There, you'll see another example of Template Literals
in JavaScript. Once a user makes a selection, the value will populate and the "mins" string will be 
added. I've included the whitespace, so the styling looks better; instead of "210mins", you'll see "210 mins".  -->

                <input type="range" class="form-range" min="90" max="270" step="30" id="customRange3" name="runtime" oninput="sliderChange(this.value);">

<!-- Why these range values? This was the simplest way to make this type of selection work with the ORDS API. A user 
will make two selections, one for the movie genre, and another for the movie runtime. These are then passed back to the Python 
script, as seen in the "@app.route('/handle_data', methods=['GET', 'POST']) def handle_data():" route and associated function. These parameters are ultimately 
sent to the corresponding ORDS endpoint.-->

<!-- You'll notice in the Database Actions REST Workshop, that the handler code has been designed to allow for a single genre selection and a single runtime. 
You'll also notice the HTML form and the radio buttons force a user to make one selection (that is how these radio buttons work). The runtime slider forces the user to make a single 
selection as well.-->
                  
              </li>
              <li class="list-inline-item">
                <label for="customRange3" class="form-label" id="output"> mins</label>
              </li>
              <li class="list-inline-item">
                <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="Here you are choosing the values for <code>runtime</code> and <code>genre</code>."></i>
              </li>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <button class="btn btn-outline-primary btn-sm" type="submit">Show me</button>
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="Clicking <code>Show Me</code> will trigger a <code>POST</code> request to the Flask application. From there, Flask executes a <code>GET</code> request, along with <code>genre</code> and <code>runtime</code> as query parameters, to the <code>ords/mymovies/movie-all</code> ORDS endpoint."></i>
                </li>
              </ul>   
          </div>
      </form>
    </div> 
  </body>
  <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>     -->
  <script src="{{ url_for('static', filename='functions.js') }}"></script>  

<!-- These tooltips are outside the scope of this sample application. But in case you are curious, here is the associated block of code. 
I'm using the Bootstraps versions of Tooltips; they require the Popper library. That is why you see a reference to this in the above script tag. -->

  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
  </script>
  <script>
  function sliderChange(val) {
    document.getElementById('output').innerHTML = val + ` mins`;};
    </script>
{% endblock %}
