{% extends "navbar.html" %}

{% block content %}
    <div class="container"> 
      <ul class="list-inline">
        <li class="list-inline-item"><h3>Pick a genre</h3></li>
        <li class="list-inline-item"><i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="A list of genres is dynamically populated from the <code>/ords/mymovies/movie-genre</code> ORDS endpoint."></i></li>
      </ul>    
      <form action="{{ url_for('handle_data') }}" method="POST">
        <div class="row row-cols-4 ">
            {% for genre in genrelist %}
          <div class="form-check">
            <input class="form-check-input" type="radio" value="{{ genre }}" id="{{ genre }}" name="genre" required>
            <label class="form-check-label" for="{{ genre }}">{{ genre }}</label>
          </div>
            {% endfor %}
        </div>
        <h3>Pick a minimum runtime</h3>
        <div class="row row-cols">
            <ul class="list-inline">
              <li class="list-inline-item">
                <input type="range" class="form-range" min="90" max="270" step="30" id="customRange3" name="runtime" oninput="sliderChange(this.value);">
              </li>
              <li class="list-inline-item">
                <label for="customRange3" class="form-label" id="output"> mins</label>
              </li>
              <li class="list-inline-item">
                <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="Here you are choosing the values for <code>runtime</code> and <code>genre</code>."></i>
              </li>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <button class="btn btn-outline-primary btn-sm" type="submit">Show me</button>
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="Clicking <code>Show Me</code> will trigger a <code>POST</code> request to the Flask application. From there, Flask executes a <code>GET</code> request, along with <code>genre</code> and <code>runtime</code> as query parameters, to the <code>ords/mymovies/movie-all</code> ORDS endpoint."></i>
                </li>
              </ul>   
          </div>
      </form>
    </div> 
  </body>
  <script src="{{ url_for('static', filename='functions.js') }}"></script>  
  <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>     -->
  <script type="module">
    import { default as movie_single } from 'endpoint.js';
  </script>  
  <script type="module" src="{{ url_for('static', filename='functions.js') }}"></script>  
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
  </script>
  <script>
  function sliderChange(val) {
    document.getElementById('output').innerHTML = val + ` mins`;};
    </script>
{% endblock %}
